* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.wrapper .header {
  background-color: #00223C;
  color: white;
  height: 300px;
  clear: both;
}

.wrapper .header .content {
  width: 1200px;
  background-color: #00223C;
  margin: 0 auto;
  height: 250px;
}

.wrapper .header .content .branding {
  height: 100%;
  width: 750px;
  float: left;
}

.wrapper .header .content .branding .logo {
  background: url('../images/p_white.svg') no-repeat center;
  width: 110px;
  margin: 0 50px 0 25px;
  height: inherit;
  float: left;
  display: inline-block;
}

.wrapper .header .content .branding h1 {
  margin-top: 80px;
}

.wrapper .header .content .branding p {
  font-weight: 100;
  font-size: 15px;
  line-height: 18px;
}

.wrapper .header .navigation {
  width: 100%;
  height: 50px;
  background-color: #095B9B;
  text-align: center;
  border-bottom: 1px solid #DDD;
}

.wrapper .header .navigation.fixed {
  top: 0;
  position: fixed;
}

.wrapper .header .navigation ul {
  background-color: #095B9B;
  list-style-type: none;
  height: inherit;
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.wrapper .header .navigation ul a li {
  display: inline-block;
  height: inherit;
  padding: 0 20px;
  font-size: 17px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  min-width: 120px;
}

.wrapper .header .navigation ul a.selected li {
  background-color: #023960;
}

.wrapper .header .navigation ul li:hover {
  background-color: #2375B5;
}

.wrapper .header .navigation ul a li p {
  line-height: 50px;
}

.wrapper .header .navigation ul a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.wrapper .header .navigation ul a:hover li select {
  background-color: transparent;
}

.wrapper .header .navigation ul a li select:focus {
  outline: none;
}

.wrapper .header .navigation ul a li select:hover {
  cursor: pointer;
}

.wrapper .header .navigation ul a li select {
  border: none;
  border-radius: 0;
  font-size: 17px;
  height: 50px;
  min-width: 100px;
  text-align: left;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.wrapper h3.redirect {
  font-weight: 200;
  margin: 0 auto;
  width: 1200px;
  padding-top: 50px;
}

.wrapper h3.redirect a {
  text-decoration: none;
  color: #095B9B;
  border-bottom: 1px solid #095B9B;
}

.wrapper .issues {
  width: 1200px;
  height: auto;
  margin: 20px auto;
  overflow: auto;
}

.wrapper .issues h1 {
  font-weight: bold;
  color: #002750;
  margin: 20px 0 0 45px;
}

.wrapper .issues .issue {
  width: 30%;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 1.5%;
}

.wrapper .issues .issue h3 {
  font-weight: 100;
  color: #002750;
  width: 300px;
  margin: 0 auto 10px auto;
}

.wrapper .issues .issue img {
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
